.top-container{background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border: solid #006666;
    border-width: 0.5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #CCFFE6;}
    .card{
        padding: 10px;
        border-color: #006666;
        border: 1px solid #006666;
        background-color: #CCFFE6;
        margin-bottom: 60px;
    }
    h4{
        color: #033333;
        font-family: Arial, Helvetica, sans-serif;
    }
    img{padding: 10px;}
 